<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body style="background-color:DarkTurquoise;">
    <div style="text-align:center;">
      <h1>Home</h1>
      <h3>Hello, my name is Oscar and this is my homework for the RoR course</h3>
      <%= link_to 'About', about_path %>
      <br>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
      <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
      <p> quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat </p>
      <p>nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
      <p>sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      <br> -->
      <img src="http://sys-city.com/wordpress/wp-content/uploads/2017/02/Ruby_On_Rails_Logo.svg_.png" alt="" height="300">
    </div>
  </body>
  <footer>
    <h6>This is a footer</h6>
  </footer>
</html>
